.navigation-list-item {
  font-size: 18px !important;
  padding: 4px;
}

.navigation-list-item a {
  color: blue;
}

.navigation-list-item a:hover {
  color: black;
}


html, body {
  font-family: sans-serif;
}

.page-content h1:first-of-type {
  font-weight: 500;
}